@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@600&display=swap");
@-webkit-keyframes productActive {
  0% {
    transform: scale(1);
    transform-origin: 50% 0%;
    opacity: 0.6;
  }
  100% {
    transform: scale(1.03);
    transform-origin: 50% 0%;
    opacity: 0.6;
  }
}
@keyframes productActive {
  0% {
    transform: scale(1);
    transform-origin: 50% 0%;
    opacity: 0.6;
  }
  100% {
    transform: scale(1.03);
    transform-origin: 50% 0%;
    opacity: 0.6;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(img/topbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.top_catalog {
  height: 400px;
  background-image: url(img/topcatalog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  padding: 16px 0px;
}
.header__logo {
  fill: white;
}
.header__logo:hover {
  filter: drop-shadow(5px 5px 10px #000);
}

.logo {
  width: 198px;
}

.top__input {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  transition: border 0.5s;
}
.top__input::-moz-placeholder {
  color: #FFFFFF;
}
.top__input:-ms-input-placeholder {
  color: #FFFFFF;
}
.top__input::placeholder {
  color: #FFFFFF;
}
.top__input:focus {
  border: 1px solid #000000;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}
.menu__mobile {
  display: none;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: font-weight 0.3s;
}
.nav__link:hover {
  font-weight: 600;
}

.top__title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  padding-top: 63px;
  padding-bottom: 16px;
  max-width: 792px;
}

.top__title_catalog {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  padding-top: 127px;
  padding-bottom: 16px;
}

.top__p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 16px;
}

.top__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.for-box {
  margin-top: 64px;
}

.for__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 4;
  transition: opacity 0.5s;
}
.for__item:hover {
  opacity: 0.6;
}
.for__item:hover > a {
  font-weight: 700;
}

.for__item > a {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  transition: color 0.5s;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(img/for/for-1.jpg);
  background-size: cover;
}

.for__item_2 {
  background-image: url(img/for/for-2.jpg);
  background-size: cover;
}

.for__item_3 {
  background-image: url(img/for/for-3.jpg);
  background-size: cover;
}

.for__item_4 {
  background-image: url(img/for/for-4.jpg);
  background-size: cover;
}

.for__item_5 {
  background-image: url(img/for/for-5.jpg);
  background-size: cover;
}

.special_offer {
  margin-top: 64px;
}

.price_block {
  display: flex;
  gap: 32px;
}

.product_picture {
  max-width: 100%;
}

.product_old_price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.catalog {
  margin-top: 64px;
}

.catalog__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}

.catalog__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product__buttons {
  display: none;
}
.product__button {
  fill: #C4C4C4;
}
.product__button:hover {
  fill: #000;
}
.product:hover {
  -webkit-animation: productActive 0.5s ease-out 0s 1 normal both;
          animation: productActive 0.5s ease-out 0s 1 normal both;
}
.product:hover .product__buttons {
  z-index: 1;
  display: flex;
  margin-top: 11px;
  margin-right: 13px;
  right: 0;
  top: 0;
  gap: 25px;
  position: absolute;
  align-items: center;
}

.product_picture {
  margin-bottom: 10px;
}

.product_title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}

.product_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product_price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.catalog__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 64px;
  display: block;
  margin-top: 32px;
}

.footer {
  background-color: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__logo {
  fill: black;
}
.footer__logo:hover {
  fill: white;
  filter: drop-shadow(5px 5px 10px #000);
}

.footer__menu_title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__menu-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__menu_link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  transition: all 0.5s;
}
.footer__menu_link:hover {
  color: #000;
  font-weight: 600;
}

.footer__contacts_title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__contacts_link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  transition: all 0.5s;
}
.footer__contacts_link:hover {
  font-weight: 600;
  color: #000;
}

.social_links {
  display: flex;
  gap: 24px;
}

.social_links__img {
  height: 23px;
  width: 23px;
  fill: #888888;
  transition: fill 0.5s;
}
.social_links__img:hover {
  fill: #000000;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__form_p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 16px;
}

.footer__form_email {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding-left: 32px;
  padding-right: 32px;
  width: 275px;
  height: 46px;
  outline: none;
  transition: border 0.5s;
}
.footer__form_email::-moz-placeholder {
  color: #C4C4C4;
}
.footer__form_email:-ms-input-placeholder {
  color: #C4C4C4;
}
.footer__form_email::placeholder {
  color: #C4C4C4;
}
.footer__form_email:focus {
  border: 1px solid #000000;
}

.footer__form_btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  width: 275px;
  height: 46px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.footer__form_btn:hover {
  color: #FFFFFF;
  background: #000000;
  border: 1px solid rgba(222, 215, 215, 0.41);
}

.widget {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumb {
  list-style: none;
  display: flex;
}
.breadcrumb__item_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  transition: font-weight 0.5s;
}
.breadcrumb__item_link_active {
  font-weight: 600;
}
.breadcrumb__item_link:hover {
  font-weight: 600;
}
.breadcrumb__item:before {
  content: "/";
  padding: 0 10px;
}
.breadcrumb__item:nth-child(1):before {
  display: none;
}

.sort {
  box-sizing: border-box;
  width: 288px;
  height: 41px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  padding-left: 14px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(./img/arrow.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 14px top 50%, 0 0;
}

.sort__option {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 199px;
  height: 20px;
}

.top__cart {
  height: 400px;
  background-image: url(img/topcart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.cart {
  display: grid;
  margin-top: 64px;
  grid-template-columns: repeat(12, 1fr);
  gap: 60px;
}
.cart__info {
  grid-column: span 8;
}
.cart__info_row_title {
  display: flex;
  justify-content: space-between;
}
.cart__info_title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.cart__info_item {
  display: flex;
  gap: 32px;
  margin: 32px 0;
  padding: 32px 0 0;
  border-top: 0.5px solid #CACDD8;
}
.cart__info_item_img {
  width: 173;
}
.cart__info_item_data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart__info_item_col {
  font-family: "Poppins";
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
  text-align: center;
}
.cart__info_item_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.cart__info_item_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.cart__info_item_price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}
.cart__info_item_action {
  display: flex;
  gap: 30px;
}
.cart__info_item_action_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.cart__info_button {
  width: 200px;
  height: 37px;
  left: 328px;
  top: 983px;
  box-sizing: border-box;
  background: none;
  border: 1px solid #000000;
  border-radius: 50px;
  margin-top: 18px;
  margin-bottom: 64px;
}
.cart__info_button:hover {
  color: #FFFFFF;
  background: #000000;
  border: 1px solid rgba(222, 215, 215, 0.41);
}
.cart__form {
  height: 566px;
  width: 379px;
  grid-column: span 4;
  background: #F7F6F6;
  border-radius: 20px;
}
.cart__form__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 42px;
  margin-bottom: 35px;
}
.cart__form__inputs {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
}
.cart__form__input {
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #CACDD8;
  width: 288px;
  padding-left: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: border-bottom 0.5s;
}
.cart__form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 1px;
}
.cart__form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 1px;
}
.cart__form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 1px;
}
.cart__form__input:focus {
  border-bottom: 1px solid black;
}
.cart__form__info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}
.cart__form__summary {
  padding-top: 64px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.cart__form__button {
  outline: none;
  background: none;
  box-sizing: border-box;
  border: 1px solid #040404;
  border-radius: 20px;
  height: 41px;
  width: 290px;
  margin-top: 18px;
}
.cart__form__button:hover {
  color: #FFFFFF;
  background: #000000;
  border: 1px solid rgba(222, 215, 215, 0.41);
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .catalog__list {
    gap: 29px;
  }
  .catalog__link {
    display: block;
    margin-top: 32px;
  }
  .product_price {
    margin-bottom: 0px;
  }
  .footer__logo {
    display: none;
  }
  .footer__form_email .footer__form_btn {
    width: 368px;
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    margin-bottom: 64px;
  }
  .cart__info_button_black {
    background: #000000;
    color: #FFFFFF;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
  .catalog__list {
    gap: 29px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    border-bottom: none;
  }
  .logo {
    width: 99px;
  }
  .top {
    padding-top: 50px;
    background-position: 25%;
  }
  .top__input {
    display: none;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    max-width: 343px;
  }
  .top__p {
    font-size: 16px;
  }
  .top__link {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  .menu__mobile {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for-box {
    margin-top: 32px;
  }
  .for__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    max-width: 100%;
  }
  .for__item > a {
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .catalog {
    margin-top: 32px;
  }
  .catalog__title {
    font-size: 24px;
    line-height: 29px;
    justify-content: center;
  }
  .catalog__list {
    justify-content: center;
  }
  .catalog__link {
    text-align: center;
  }
  .product_title {
    font-size: 18px;
    line-height: 22px;
  }
  .product_description {
    font-size: 14px;
    line-height: 17px;
  }
  .product_price {
    font-size: 18px;
    line-height: 22px;
  }
  .product_old_price {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__content {
    justify-content: center;
  }
  .footer__info {
    gap: 100px;
  }
  .footer__form__block {
    margin-top: 32px;
  }
  .widget {
    gap: 16px;
  }
  .cart {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .cart__info {
    grid-column: 1/-1;
  }
  .cart__info__item_img {
    display: none;
  }
  .cart__info_row_title {
    display: none;
  }
  .cart__info_button {
    width: 166px;
    height: 37px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart__form {
    width: 343px;
    grid-column: 1/-1;
  }
}/*# sourceMappingURL=style.css.map */